<script>
// !!  MOVEMENT HANDLERS BELOW  !!
//handle north movement button
$('#moveNorth').click(() => {
  $.ajax({
    url: `/moveNorth`,
    type: "GET",
    data: {"direction": "north"},
    success: res => {
      if(res.actions != null) {
        writeGameActions(res.actions[0]);
      }
      writeGameLog(res.locName, res.locText);
      scrollToBottom();
    }
  });
});

//handle south movement button
$('#moveSouth').click(() => {
  $.ajax({
    url: `/moveSouth`,
    type: "GET",
    data: {"direction": "south"},
    success: res => {
      if(res.actions != null) {
        writeGameActions(res.actions[0]);
      }
      writeGameLog(res.locName, res.locText);
      scrollToBottom();
    }
  });
});

//handle west movement button
$('#moveWest').click(() => {
  $.ajax({
    url: `/moveWest`,
    type: "GET",
    data: {"direction": "west"},
    success: res => {
      if(res.actions != null) {
        writeGameActions(res.actions[0]);
      }
      writeGameLog(res.locName, res.locText);
      scrollToBottom();
    }
  });
});

//handle east movement button
$('#moveEast').click(() => {
  $.ajax({
    url: `/moveEast`,
    type: "GET",
    data: {"direction": "east"},
    success: res => {
      if(res.actions != null) {
        writeGameActions(res.actions[0]);
      }
      writeGameLog(res.locName, res.locText);
      scrollToBottom();
    }
  });
});
  
$('.event').click(() => {
  $.ajax({
    url: ``,
    type: "GET",
    data: {"": ""},
    success: res => {
      
      scrollToBottom();
    }
  });
});

// !!  MODULAR CODE BELOW  !!
function writeGameLog(locName, locText) {
  $("#gameLog").append('\n');
  $("#gameLog").append(locName);
  $("#gameLog").append('\n');
  $("#gameLog").append('    ' + locText);
  $("#gameLog").append('\n'); 
}

function writeGameActions(actions) {
  $("#gameEvents").append('<p>' + actions.nodename + '</p>');
}  

// !!  MISC / UTILITY HANDLERS BELOW  !!
//keep the game area scrolled to bottom
function scrollToBottom() {
  $('#gameLog').scrollTop($('#gameLog')[0].scrollHeight);
}



</script>