<script>
// !!  MOVEMENT HANDLERS BELOW  !!
//handle north movement button
$('#moveNorth').click(() => {
  $.ajax({
    url: `/moveNorth`,
    type: "GET",
    data: {"direction": "north"},
    success: res => {
      if(res.actions != null) {
        writeGameActions(res.actions);
      }
      writeGameLog(res.locName, res.locText);
      scrollToBottom();
    }
  });
});

//handle south movement button
$('#moveSouth').click(() => {
  $.ajax({
    url: `/moveSouth`,
    type: "GET",
    data: {"direction": "south"},
    success: res => {
      if(res.actions != null) {
        writeGameActions(res.actions);
      }
      writeGameLog(res.locName, res.locText);
      scrollToBottom();
    }
  });
});

//handle west movement button
$('#moveWest').click(() => {
  $.ajax({
    url: `/moveWest`,
    type: "GET",
    data: {"direction": "west"},
    success: res => {
      if(res.actions != null) {
        writeGameActions(res.actions);
      }
      writeGameLog(res.locName, res.locText);
      scrollToBottom();
    }
  });
});

//handle east movement button
$('#moveEast').click(() => {
  $.ajax({
    url: `/moveEast`,
    type: "GET",
    data: {"direction": "east"},
    success: res => {
      if(res.actions != null) {
        writeGameActions(res.actions);
      }
      writeGameLog(res.locName, res.locText);
      scrollToBottom();
    }
  });
});

//handle all event calls SIDE NOTE ARROW FUNCTION AND THIS DON"T LIKE EACH OTHER  
$('#gameEvents').on("click", ".event", function (){
  $.ajax({
    url: `/action`,
    type: "GET",
    data: {"id": this.id},
    success: res => {
      writeGameLog(res.locName, res.locText);
      scrollToBottom();
    }
  });
});
  
//handle new game call
$('#newGame').click(() => {
  $.ajax({
    url: `/newGame`,
    type: "GET",
    success: res => {
      $("#gameLog").html('NEW GAME STARTED!');
      if(res.actions != null) {
        writeGameActions(res.actions);
      }
      writeGameLog(res.locName, res.locText);
      scrollToBottom();
    }
  });
});

// !!  MODULAR CODE BELOW  !!
function writeGameLog(locName, locText) {
  $("#gameLog").append('\n');
  $("#gameLog").append(locName);
  $("#gameLog").append('\n');
  $("#gameLog").append('    ' + locText);
  $("#gameLog").append('\n'); 
}

function writeGameActions(actions) {
  $("#gameEvents").html('')
  actions.forEach(function(action, i){
    $("#gameEvents").append('<button id=' + actions[i].eventid + ' class="event">' + actions[i].eventaction + '</button>');
   })
}  

// !!  MISC / UTILITY HANDLERS BELOW  !!
//keep the game area scrolled to bottom
function scrollToBottom() {
  $('#gameLog').scrollTop($('#gameLog')[0].scrollHeight);
}



</script>