<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <header>
    <h1>A LITTLE ADVENTURE</h1>
    <h2>WE HOPE YOU ENJOY YOUR STAY</h2>
  </header>
  <!--GAMEPLAY LOG-->
  <textarea rows="15" cols="90" id="gameLog" readonly><%= locName %>
    <%= locText %>
  </textarea>

  <!--DIV CONTAINER FOR MOVEMENT BUTTONS-->
  <div id="movement">
    <button id="moveNorth">MOVE NORTH</button>
    <div>
      <button id="moveWest">MOVE WEST</button>
      <button id="moveEast">MOVE EAST</button>
    </div>
    <button id="moveSouth">MOVE SOUTH</button>
  </div>
  
  <!--DIV CONTAINER FOR ACTION BUTTONS-->
  <div id="gameEvents">
    <% actions.forEach(function(action, i){ %>
    <button id="<%= actions[i].eventid %>" class="event"><%= actions[i].eventaction %></button>
    <% }) %>
  </div>
</body>
  <% include ../partials/scripts.ejs %>
</html>