<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <!--GAMEPLAY LOG-->
  <textarea rows="10" cols="75" id="gameLog" readonly></textarea>

  <!--DIV CONTAINER FOR MOVEMENT BUTTONS-->
  <div>
    <button id="moveNorth">MOVE NORTH</button>
    <div>
      <button id="moveWest">MOVE WEST</button>
      <button id="moveEast">MOVE EAST</button>
    </div>
    <button id="moveSouth">MOVE SOUTH</button>
  </div>
  
</body>
  <% include ../partials/scripts.ejs %>
</html>