<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <textarea rows="10" cols="75" id="gameLog" readonly></textarea>

  <button id="moveNorth">MOVE NORTH</button>
  <button id="moveWest">MOVE WEST</button>
  <button id="moveEast">MOVE EAST</button>
  <button id="moveSouth">MOVE SOUTH</button>
</body>
  <% include ../partials/scripts.ejs %>
</html>